@font-face {
    font-family: 'iconfont';  /* project id 527810 */
    src: url('//at.alicdn.com/t/font_527810_28dw4z8osvmquxr.eot');
    src: url('//at.alicdn.com/t/font_527810_28dw4z8osvmquxr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_527810_28dw4z8osvmquxr.woff') format('woff'),
    url('//at.alicdn.com/t/font_527810_28dw4z8osvmquxr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_527810_28dw4z8osvmquxr.svg#iconfont') format('svg');
  }

.iconfont {
    font-family:"iconfont" !important;
    font-size:1.125rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

[class*=icons-]:before{
    font-family:"iconfont" !important;
    font-size:1.125rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icons-ea25:before{
    content:"\e600";
    font-size:1.5rem;
}

.wt-green{
    color:#62ab00;
}
.wt-dblue{
    color:#5d85ff;
}

/** redview */
.col-red{
    color:#fff;
    font-weight: 700;
}

a{
    color: #000000;
}
ul{
    list-style: none;
    margin:0rem;
}
.pad-left-10{
    padding-left:0.625rem;
}
/** 对组件的修改**/
.group-clear{
    margin:0rem !important;
    /* margin-bottom: 1.25rem !important; */
}
.group-top-10{
    margin-top:0.625rem !important;
    /* margin-bottom: 1.25rem !important; */
} 
.tabbar{
    background: #ffffff !important;
}

/****/
.layui-timeline{
    padding-left:5px;
}
.layui-timeline-item{
    position: relative;
    padding: 10px 0;
    font-size:0.875rem;
    color:#666;
}
.layui-timeline-item:first-child:before{
    display: block;
}
.layui-timeline-item:before{
    content:'';
    position: absolute;
    left:5px;
    top:0;
    z-index:0;
    width:1px;
    height:100%;
}
.layui-timeline-item:before, hr{
    background-color:#e6e6e6;
}
.layui-circle{
    position: absolute;
    left:1px;
    top:15px;   
    width:10px;
    height:10px;
    background-color:#0e90d2;
    border-radius:5px; /* 图形的半径 */
}
.layui-timeline-axis{
    position: absolute;
    left:-5px;
    top:0;
    z-index:10;
    width:20px;
    height:20px;
    line-height: 20px;
    background-color: #5fb878;
    color:#5fb878;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 10px;   
}
.layui-timeline-content{
    padding-left:25px;
}

/** 通用颜色类 **/
.label-red{
    color:#ffffff;
    background: #fe5758;
}